<h1>Top-Rated Recipes</h1>

<% if @recipes.top_rated.any? %>
  <ul>
    <% @recipes.top_rated.each do |recipe| %>
      <li><%= link_to recipe.name, recipe_path(recipe) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no recipes yet.</p>
<% end %>
<p><%= link_to "Create new recipe", new_recipe_path %></p>
