
<% if @food_tag.recipes.any? %>
<ul>
  <% @food_tag.recipes.each do |recipe| %>
  <li>
    <%= link_to recipe.name, recipe_path(recipe) %>
  </li>
  <% end %>
</ul>
<% else %>
<p>No recipes are listed for this tag.</p>
<% end %>
<p><%= link_to "Edit", edit_food_tag_path(@food_tag) %></p>
